@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lorem Ipsum!</h1>
    <div class="mb-3">
        <label for="" class="form-label">Lorem Ipsum</label>
        <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</div>
