@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies ex et velit convallis, non accumsan est condimentum. Sed condimentum pellentesque consectetur. In id sem bibendum, convallis purus sed, imperdiet sapien. Aenean et iaculis arcu. Cras et risus velit. Nullam et tempus ligula, eu imperdiet libero. Nullam laoreet at risus sed euismod.

    Etiam eu elit et lectus tempus aliquam a a tortor. Pellentesque sed aliquam quam. Maecenas bibendum tortor et urna rutrum bibendum. Quisque eleifend, metus nec tristique elementum, massa tellus vulputate ligula, sit amet viverra risus purus in nisl. Duis metus elit, bibendum vitae lectus sed, bibendum porttitor lectus. Nulla ac lectus lobortis, vulputate mi quis, pellentesque lorem. Sed porta tortor ut enim varius luctus. Fusce condimentum eget quam a molestie. Maecenas pulvinar nibh non congue laoreet. Quisque in erat convallis diam semper volutpat sed sit amet mauris. Maecenas eget augue nec quam dapibus pretium. Phasellus imperdiet sed augue ac sagittis. Nullam dignissim, sem non commodo porta, risus dolor consectetur mi, et sagittis risus ligula fringilla dolor. Quisque interdum vehicula dolor vitae pretium. Suspendisse dapibus varius elit, eu aliquam diam porttitor ut. Donec aliquet pharetra sem ut tristique.

    Curabitur suscipit magna id mattis consectetur. Suspendisse potenti. Maecenas vitae metus in ante blandit rhoncus. Nam in auctor mauris. Duis porttitor est urna, a aliquet diam faucibus sodales. Maecenas faucibus justo sed blandit iaculis. Donec ut elit aliquam, porttitor eros non, auctor erat. Praesent nisl sapien, maximus a sem non, rhoncus tristique sem. Proin a lacus sed nulla gravida sagittis. Nullam a blandit sem, eu porta lorem. Integer dui velit, porta ac turpis vitae, iaculis ultricies tortor.
</p>
